.settingsFeature h3 {
  font-size: 5em;
  font-family: 'Raleway', sans-serif; }

.privateAccount h3 {
  font-size: 3em;
  margin-bottom: 15%;
  font-family: 'Raleway', sans-serif; }

.settingsBtns .btn {
  font-size: 3.3em;
  color: #200F3E; }

.wrap {
  min-height: 100vh; }

body {
  width: 1035px; }

header {
  padding-bottom: 3%;
  text-align: center;
  background-color: #200F3E;
  color: white;
  font-family: 'Raleway', sans-serif; }
  header h2 {
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 4em; }
  header h3 {
    font-size: 2.5em;
    text-align: center; }
  header div img {
    padding-top: 35%;
    width: 50%; }

.profileStatus {
  padding-top: 5%;
  padding-left: 5%; }
  .profileStatus div img {
    float: right; }
  .profileStatus div div {
    padding-top: 2%;
    padding-left: 5%; }
    .profileStatus div div p {
      text-align: center;
      color: #200F3E; }
    .profileStatus div div .ptsFriendsAd {
      font-size: 3em; }
    .profileStatus div div .pointSubtitles {
      font-size: 2.25em; }
  .profileStatus .editProfile {
    padding-left: 5%; }
    .profileStatus .editProfile div p {
      margin: auto;
      border: 2px solid #FFA704;
      border-radius: 15px;
      font-size: 2.50em;
      color: #FFA704;
      padding: 5px 0px 5px 0px; }

hr {
  height: 1px;
  background-color: #200F3E;
  width: 95%; }

div img {
  padding-top: 10%; }

#logoSignUp {
  width: 320px;
  padding-left: 8%; }

#logoTextSignUp {
  width: 550px;
  padding-left: 4%; }

.signUpForm {
  padding-top: 20%; }

.form-group {
  padding: 10px 10% 5% 10%; }

.form-control {
  padding: 50px 0 50px 20px;
  font-style: italic;
  font-size: 3em;
  border-radius: 50px; }

.signUp {
  padding: 20px  35% 20px 35%;
  border-radius: 70px;
  font-size: 3em;
  background: radial-gradient(50% 184%, #FFD200 0%, #F76B1C 100%);
  border-radius: 61px;
  color: #432272; }

.signUpbtn {
  padding-left: 10%; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.settings {
  height: 100vh; }
  .settings h1 {
    margin: 0px;
    padding: 0px; }
  .settings .backgroundImg {
    padding-bottom: 5%;
    border-bottom: 2px solid #9B9B9B; }
    .settings .backgroundImg img {
      width: 100%;
      padding: 0; }
  .settings .settingsFeature {
    padding: 3% 7% 0 9%;
    text-align: center; }
    .settings .settingsFeature h3 {
      color: #9B9B9B;
      text-align: left;
      margin-bottom: 6%; }
    .settings .settingsFeature hr {
      margin: 0; }
    .settings .settingsFeature img {
      padding: 0;
      float: left; }
  .settings .privateAccount {
    padding-bottom: 5%;
    padding: 3% 7% 0 9%;
    text-align: center; }
    .settings .privateAccount h3 {
      color: #200F3E;
      text-align: left;
      margin-bottom: 6%;
      letter-spacing: 10px; }
    .settings .privateAccount img {
      padding: 0;
      float: left; }

footer {
  width: 1050px;
  background-color: #200F3E;
  padding: 20px 0 10px 0; }
  footer ul li {
    display: inline-block;
    width: 240px;
    padding-left: 9%; }

.settingsBtns {
  padding: 10%; }
  .settingsBtns .btn {
    border: 5px solid #200F3E;
    background: white;
    padding: 7% 15%;
    border-radius: 80px;
    float: left; }
  .settingsBtns #deleteAccount {
    background: #200F3E;
    color: white; }

/*# sourceMappingURL=master.css.map */
