.adventureTitle {
  padding-bottom: 7%;
}

.rightListInfo {
  padding-top: 10%;
  padding-bottom: 10%;
  color: #200F3E;
    h3 {
      font-size: 3em;
    }
    p {
      font-size: 2.5em;
    }
    span {
      border: 2px solid #FFA704;
      padding-left: 10%;
      padding-right: 10%;
      border-radius: 25px;
    }
}
