li {
  list-style: none;
}
div {
  div {
    .leftList {

    }
    ul {
      li {
        span {
          color: #FFA704;
          padding-left: 45%;
          font-size: 4em;
          font-weight: bolder;
          float: right;
        }
        h3 {
          font-size: 2.5em;
        }
        p {
          font-size: 2em;
          float:left;
        }
        img {
          width: 425px;
        }
      }
    }
  }
}
