.new {
  h1{
    font-size: 5em;
    text-align: center;
  }
}

.catBtn {
    padding-bottom: 2%;
    a {
      color: #FFF;
      padding-left: 11%;
    }
  button {
    font-size: 3.75em;
    width: 900px;
    padding: 25px 10% 25px 5%;
    border: 5px solid #fff;
    background-color: #200F3E;
    border-radius: 70px;
    opacity: .78;
  }
}
