.wrap {
  min-height: 100vh;
}

body {
  width: 1035px;
}

header {
  padding-bottom: 3%;
  text-align: center;
  background-color: $purple;
  color: white;
  font-family: 'Raleway', sans-serif;
  h2 {
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 3em;
  }
  h3 {
    font-size: 2.5em;
    text-align: center;
  }
div {
  img {
    padding-top: 35%;
    width: 50%;
    }
  }
}

.profileStatus {
  padding-top: 5%;
  padding-left: 5%;
  div {
    img {
      float: right;
    }
  }
  div {
    div {
      padding-top: 2%;
      padding-left: 5%;

      p {
        text-align: center;
        color: $purple;
      }
      .ptsFriendsAd {
        font-size: 3em;
      }
      .pointSubtitles {
        font-size: 2.25em;
      }
    }
  }
  .editProfile {
    padding-left: 5%;
    div {
      p {
          margin: auto;
          border: 2px solid $gold;
          border-radius: 15px;
          font-size: 2.50em;
          color: $gold;
          padding: 5px 0px 5px 0px;
         }
      }
  }
}

hr {
  height: 1px;
  background-color: $purple;
  width: 95%;
}
