div {
  img {
    padding-top: 10%;
  }
}

#logoSignUp {
  width: 320px;
  padding-left: 8%;
}
 #logoTextSignUp {
   width: 550px;
   padding-left: 4%;
 }

.signUpForm {
  padding-top: 20%;

}

.form-group {
  padding: 10px 10% 5% 10%;
}

.form-control {
  padding: 50px 0 50px 20px;
  font-style: italic;
  font-size: 3em;
  border-radius: 50px;
}

.signUp {
    padding: 20px  35% 20px 35%;
    border-radius: 70px;
    font-size: 3em;
    background: radial-gradient(50% 184%, #FFD200 0%, #F76B1C 100%);
    border-radius: 61px;
    color: #432272;
}

.signUpbtn {
  padding-left: 10%;
}
