.settingsBtns {
  padding: 10%;
  .btn {
    border: 5px solid $purple;
    background: white;
    padding: 7% 15%;
    border-radius: 80px;
    float: left;
  }
  #deleteAccount {
    background: $purple;
    color: white;
  }
}
