.settingsFeature {
  h3 {
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
  }
}

.privateAccount {
  h3 {
    font-size: 3em;
    margin-bottom: 15%;
    font-family: 'Raleway', sans-serif;
  }
}

.settingsBtns {
  .btn {
    font-size: 3.3em;
    color: $purple;
  }
}
